%h1 Listing Owners #{ link_to "(+)", new_owner_url}

%table
    %tr
        %th Name
        %th Id
        %th Action        
    - @owners.each do |owner|
        %tr
            %td= link_to owner.name, owner
            %td= owner.id   
            %td
                = link_to 'delete', owner, :method => "delete"
