%h1 Owner: #{@owner.name}
%table
    %tr
        %td ID:
        %td=@owner.id
    %tr
        %td Name:
        %td=@owner.name 
    %tr
        %td Pools:
    %tr
        %th Product
        %th Quantity
        %th Start Date
        %th End Date
%h3 Entitlement Pools            
=render :partial => "pools/pool_list", :locals => {:pools => @owner.my_pools}        
= link_to 'Back', :back
