%h1 Owner: #{@owner.displayName}
%table
    %tr
        %td ID:
        %td=@owner.id
    %tr
        %td key:
        %td=@owner.key 
    %tr
        %td Name:
        %td=@owner.displayName         
%h3 Entitlement Pools            
=render :partial => "pools/pool_list", :locals => {:pools => @owner.my_pools}        
= link_to 'Back', :back
