body { background-color: #fff; color: #333; 	margin: 0;
	padding: 0;}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

a img {
	border: 0;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#pcontent{
    min-width: 900
    width: 900;
    height: 600;
    min-height: 600;
    clear: all;
}

.div_left {
    width: 400px;
    height: 600;
    overflow: auto;
}

.div_right {
    width: 500;
    padding: 2px;
    height: 600;
    min-height: 600;
    overflow: auto;
    margin-left: 60%;
}

#dialog {
    height: 500;
    width: 100%;
}

