.intro    
    %h1 HEADPIN
    Headpin is a sample management front end to the Candlepin engine. Configure which instance
    and password to use with the #{link_to "Setup", setup_url} link to the left.
    
