%h1 Candlepin Status

- if @status && @status.result
  %h2.green Candlepin is Alive!
  %table
    %tr
      %td Version
      %td= @status.version
    %tr
      %td Release
      %td= @status.release
- else
  %h2.red Candlepin is Dead
  %h2=@status.result.class
 
		
