%h1 Current Certificate

- if @certificate.nil?
    .none= link_to "Create the Cert", certificate_edit_url
- else
    .none= link_to "Edit the Cert", certificate_edit_url
    .text
        %pre
            :escaped
                #{@certificate.content}
