%h1 Listing Products

%table#products
#products_pager
#certDialog
    %pre
#pcontent  
    .ui-widget.ui-widget-content.ui-corner-all.div_left     
        #tree
    .ui-widget.ui-widget-content.ui-corner-all.div_right  
        fdksjfdslkj   
     
 
:javascript
    $("#tree").jstree({ 
        "json_data" : {
            "ajax" : {
                "url" : "#{product_tree_url}",
                "data" : function (n) { 
                    return { id : n.attr ? n.attr("id") : 0 }; 
                }
            },
        },
        "themes" : {
            "url" : "http://localhost:3000/javascripts/themes/default/style.css",
        },
        "ui" : {
          "select_limit" : 1,            
        },
        "plugins" : [ "themes", "json_data", "ui" ],
    })
    .bind("select_node.jstree", function (event, data) {
        alert("Node IS selected");
    });    
    var lastsel; 
    $("#certDialog").dialog({
        autoOpen: false,
        width: 800,
        buttons: { "Ok": function() { $(this).dialog("close"); }},
    });  
    $("#products").jqGrid({
        url:'#{products_url :format => :json}',
        jsonReader: {cell:null, id:"id", repeatitems:false, root:"rows"},
        datatype: 'json',
        mtype: 'GET',
        colNames:['ID', 'Name', 'Type','Variant', 'Version', 'Arch', 'Created', 'Updated', 'Cert'],
        colModel :[ 
          {name:'id', label:"ID", width:55,editable:true},
          {name:'name', label:"Name", width:300,editable: true},
          {name:'type', label:"Type", width:55,editable: true},      
          {name:'variant', label:"Variant", width:55, editable: true},
          {name:'version', label:"Version", width:55, editable: true}, 
          {name:'arch', label:'Arch', width:55, editable: true},
          {name:'created', label:'Created', width:150, formatter: 'date'},
          {name:'updated', label:'Updated', width:150, formatter: 'date'},
          {name:'id', label:'Cert', width: 25, align:'center', formatter:certFormatter}          
        ],
        altRows:false,
        rowNum:10,
        rowList:[10,20,30],
        sortname: 'label',
        sortorder: 'desc',
        viewrecords: false,
        forceFit: true,   
        editurl:"#{products_url}",
        pager: "#products_pager",
        loadonce: false,
        loadError: function(xhr, status, error){$.jGrowl(xhr.status + ' ' + xhr.statusText);},
    });
    $("#products").jqGrid('navGrid',"#products_pager",{edit:true,add:true,del:true, view: false},
        {closeAfterEdit: true}, // edit
        {closeAfterAdd: true, jqModal:true, addtext:"Add a new Type"}, // add
        {}, // delete
        {}, // search
        {} // view
    ); 
    function certDialog(title, id) {         
        $.get("products/" + id + "/certificate", function(data) {
            $("#certDialog").dialog({title:title});         
            $("#certDialog > pre").text(data);
            $('#certDialog').dialog('open'); 
        });       
    };
    function certFormatter (value, options, rowObject) {
         return "<a href='#' onclick='certDialog(\"Product Certificate\", \"" + value + "\")'><img src='/images/Doc.png'/></a>";         
    } ;   
