%h1 Product: #{@product.name}
%table
    %tr
        %td ID:
        %td=@product.id
    %tr
        %td Label:
        %td=@product.label         
    %tr
        %td Attributes:
    -@product.product_attributes.each do |attr|
        %tr
            %td
            %td= attr.name
            %td= attr.value 
    - if @product.enabledContent.size > 0
        %tr
            %td Enabled Content   
        %tr
            %td
            %td
            %td=render :partial => "products/content_list", :locals => {:contents => @product.enabledContent}    
    - if @product.content.size > 0
        %tr
            %td Content   
        %tr
            %td
            %td
            %td=render :partial => "products/content_list", :locals => {:contents => @product.content}   