%h1 Product: #{@product.name}
%table
    %tr
        %td ID:
        %td=@product.id
    %tr
        %td Hash:
        %td=@product.product_hash 
    %tr
        %td Label:
        %td=@product.label         
    %tr
        %td Attributes:
    -@product.product_attributes.each do |attr|
        %tr
            %td
            %td= attr.name
            %td= attr.value
    %tr
        %td Sub Products
    %tr
        %td
        %td
        %td=render :partial => "products/product_list", :locals => {:products => @product.childProducts}        
    %tr
        %td=link_to 'Back', :back