%html
    %head
        #{render :partial => "layouts/scripts_and_sheets"}        
        %title Headpin        
        :javascript           
            $(document).ready(function() {
              // Best way to tell if a server can not be reached.
              $(document).ajaxComplete(function(event, xhr, ajaxOptions) {
                if (xhr.status == 0) {
                    $.jGrowl("Server could not be reached");
                }
              });              
              $(document).ajaxError(function(event, xhr, ajaxOptions, error) {$.jGrowl(xhr.status + ' ' + xhr.statusText);});
              $("#tabs").tabs({
                  cookie: {expires: 1},
                  load: function(event, ui) {
                      $('a', ui.panel).click(function() {
                          $(ui.panel).load(this.href);
                          return false;
                      });
                  },
              });
            });         
        
    %body  
    #{yield}    